@CHARSET "UTF-8";

a {
	font-family: monospace;
	font-size: 14pt;
}

table {
	table-layout: auto;
	border-collapse: collapse;
}

table.view_table {
	text-align: center;
}

table.view_table td {
	min-width: 100px;
}